body{
    background-image: url("2024150.jpg");
    
}
#start-btn
{
    width: 40%;
} 
#camera
{
    width: 360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

#START{
    background-image: url("144-1448006_microphone-icon-logo-design-mic-symbol-music-mic.png");
}